@font-face {
 font-family: hanzel;
 src:url('../fonts/Hanzel.ttf') format('truetype');
 font-weight:normal;
 font-style:normal;
}

/* IMPORT FONT */
@font-face {
  font-family: "avenir";
  src: url("../fonts/ttf/avenirnextregular08.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url("../fonts/ttf/avenirnextmedium06.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url("../fonts/ttf/avenirnextdemibold03.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url("../fonts/ttf/brownbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url("../fonts/ttf/avenirnextbold01.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* IMPORT FONT */

* {
    background-repeat: no-repeat;
}

body {
    margin: 0;
    font-family: avenir;
    font-weight: 300;
}
.text-center {
    text-align: center;
}

.text-right {
    text-align: end;
    padding-right: 14px;
}

p {
    line-height: 150%;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

img {
    width: 100%;
}

.p-0 {
    padding: 0;
}

.p-6 {
    padding: 0 60px;
}

.pt-6 {
    padding-top: 60px;
}

.mr-20 {
    margin-right: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.title {
    font-size: 50px;
    font-family: hanzel;
    font-weight: 100;
}

.menu {
    list-style: none;
}

.menu a {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
}

header {
    padding: 20px;
    background: linear-gradient(90deg, #00092B 0%, #4A289C 51.56%, #00092B 100%);
}

.border-right {
    border-right: 1px solid #efefef;
    padding-right: 40px;
}

.btn {
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-weight: normal;
}

.btn-orange {
    background: linear-gradient(180deg, #FFC954 0%, #FF9348 100%);
}

.btn-blue {
    background: linear-gradient(180deg, #33D2FF 0%, #35A5FF 91.77%);
}

.btn-purple {
    background: linear-gradient(180deg, #BA78FB 0%, #8464E5 100%);
}

.banner {
    padding: 20px 0;
    background-image: url(../img/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .col-7 {
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.banner h2 {
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-top: 0;
}
.banner h2 .yellow {
    color: #FFF000;
}

.banner h2 .small-size {
    font-size: 40px;
}

.loiich {
    padding: 60px 0;
}

.loiich p {
    font-weight: 300;
}

.loiich .col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    line-height: 150%;
}

.loiich .bg {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: linear-gradient(168.26deg, #C57BFF 15.09%, #454BCB 141.04%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loiich img {
    width: 50%;
}

.s-3 .col-6 {
    text-align: center;
}

.s-3 h2 {
    font-size: 40px;
    color: #8162E3;
}

.s-3 p {
    font-size: 24px;
}

.s-3 .btn-group {
margin-top: 30px;
}

.s-4 {
    background-image: url('../img/bg-3.jpg');
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.s-4 .card {
    width: 100%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.s-4 .card-header {
    font-size: 36px;
    padding: 20px 40px;
    color: #fff;
    text-shadow: 0px 3px 0px rgb(0 0 0 / 25%);
    font-weight: bold;
}

.s-4 .card-header p {
    margin: 0;
}

.card-orange {
    background: linear-gradient(180deg, #FFCA54 0%, #FF9047 100%);
}

.card-blue {
    background: linear-gradient(170.09deg, #32D5FF 7.44%, #377CFF 149.59%);
}

.card-purple {
    background: linear-gradient(180deg, #C27BFE 0%, #7D61E2 100%);

}

.s-4 .title {
    color: #fff;
    text-shadow: 0px 4px 4px #00000040;
}

.s-4 .card-header img {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    margin-right: 10px;
}

.s-4 .card-content {
    padding: 20px 40px;
}

.s-4 .card-content p {
    font-size: 24px;
    line-height: 24px;
    list-style-image: url('../img/orange-dot.svg');
}

.dot {
    height: 24px;
    width: 24px;
    display: inline-block;
    border-radius: 5px;
    transform: rotate(45deg);
    margin-right: 10px;
}

.orange-dot {
    background: linear-gradient(87.47deg, #FFF35C -45.76%, #FF795B 155.7%);
}

.blue-dot {
    background: linear-gradient(87.47deg, #33D5FF -45.76%, #1F90E6 155.7%);
}

.purple-dot {
    background: linear-gradient(180deg, #7D61E2 0%, #C27BFE 100%);
}

.s-4 .card-footer {
    text-align: center;
    padding-bottom: 20px;
}

.s-4 img{
    width: 300px;
    top: -80px;
}

.s-4 .card-group {
    width: 100%;
}

.s-5 {
    margin-top: 300px ;
    background-image: url('../img/dienthoai3.svg');
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 800px;
}

.s-5 img.p-absolute {
    width: 320px;
    right: 10px;
    top: -15%;
}

.s-5 .title {
    color: #00BAE8;
}

.s-5 .chat-box {
    padding-top: 130px;
}

.s-5 .chat {
    color: #fff;
    font-size: 28px;
    padding: 10px;
    border-radius: 30px 30px 0 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.s-5 .chat:nth-child(1) {
    background: linear-gradient(180deg, #C57CFF 0%, #755DDF 100%);
}

.s-5 .chat:nth-child(1) .chat-number {
    color: #7460A7;
;
}

.s-5 .chat:nth-child(2) {
    background: linear-gradient(180deg, #50D7FF 0%, #35A7FF 100%);
}

.s-5 .chat:nth-child(2) .chat-number {
    color: #00BAE8;
}

.s-5 .chat:nth-child(3) {
    background: linear-gradient(180deg, #FFCA54 0%, #FF9047 100%);
}

.s-5 .chat:nth-child(3) .chat-number {
    color: #FF7502;
}

.s-5 .chat-right:nth-child(1) {
    background: linear-gradient(180deg, #FE966A 0%, #FD4BA8 100%);
}

.s-5 .chat-right:nth-child(1) .chat-number {
    color: #F22E6C;
}

.s-5 .chat-right:nth-child(2) {
    background: linear-gradient(180deg, #62FFB4 0%, #15C988 100%);
}

.s-5 .chat-right:nth-child(2) .chat-number {
    color: #0FB578;
}

.chat-right {
    border-radius: 30px 30px 30px 0 !important;
}

.chat-content {
    width: calc(100% - 95px);
}

.chat-number {
    background-color: #fff;
    width: 95px;
    height: 95px;
    font-size: 80px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}

.s-5 .btn-group{
    margin-top: 150px;
}

.kid-feedback {
    padding-top: 50px;
}

.kid-feedback .row{
    padding: 40px 0;
}

.feedback-content {
    margin-top: 15px;
    font-weight: 300;
    font-size: 24px;
    line-height: 200%;
}

.kid-feedback .feedback-content {
    color: #fff;
}

.kid-feedback .title{
    color: #F22E6C;
    text-align: center;
}

.kid-feedback .row:nth-child(1) {
    background: linear-gradient(180deg, #FE966A 0%, #FD4BA8 100%);
}

.kid-feedback .row:nth-child(2) {
    background: linear-gradient(180deg, #C47CFF 0%, #795FE0 100%);
    flex-direction: row-reverse;
}

.kid-feedback .row:nth-child(3) {
    background: linear-gradient(179.77deg, #50D6FF 0.2%, #36A9FF 99.8%);
}

.feedback-title img {
    width: 150px;
    height: 150px;
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.feedback-title {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.kid-feedback  .feedback-title {
color: #fff;
}

.kid-feedback .video {
    background-color: #fff;
    height: 350px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.parents-feedback {
    padding-top: 50px;
}

.parents-feedback .row {
    padding: 30px 0;
}

.parents-feedback .title {
    color: #8162E3;
    margin-bottom: 0;
}

.parents-feedback .feedback-title {
    font-size: 30px;
}

.parents-feedback .feedback-title img {
    border: 2px solid #8162E3;
 }

.parents-feedback .image {
    width: 400px;
}

.parents-feedback .feedback {
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 50px 0 0 50px;
    height: fit-content;
    padding: 40px;
    padding-right: 10px;
}

.parents-feedback .radius-custom {
    border-radius: 0 50px 50px 0;
}

.plans {
    background-image: url('../img/bg-4.jpg');
    padding: 60px 0;
    background-size: cover;
}

.plan-card {
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 4px 0px 4px 0px #00000040;
}

.plan-card .card-content .item {
    display: flex;
    align-items: baseline;
}

.plan-card .card-content p {
    margin: 20px 0;
}

.plan-card .card-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
}

.plan-card .card-header {
    display: flex;
    padding: 12px 10px;
    color: #fff;
}

.plan-card .card-title {
    font-family: hanzel;
    font-size: 45px;
}

.plan-card .card-sub-title {
    font-size: 25px;
    font-style: italic;
}

.plan-card .card-content {
    padding: 0 15px 47px 15px;
    font-size: 24px;
}

.plan-card .price {
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
}

.plan-card .price span {
    font-size: 50px;
}

.price-blue {
    color: #4ED1FF;
}

.price-orange {
    color: #FF7502;
}

.price-purple {
    color: #8765E6;
}

.form-box {
    padding: 300px 0 100px;
}

.form table{
    background: linear-gradient(180deg, #FFCA54 10.2%, #FF8D3C 159.61%);
    border-radius: 20px;
    font-size: 35px;
    color: #fff;
    font-weight: 700;
    padding: 20px;
    width: 100%;
}

.form .title {
    margin-bottom: 30px;
}

.form input {
    width: 100%;
    height: 75px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 35px;
    border: none;
    margin-bottom: 20px;
    font-size: 35px;
    padding-left: 20px;
}

.sdt_input {
    width: 350px;
}

.form input:focus-visible {
    outline: none;
}

.table-label {
    width: 280px;
}

.btn-table {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 40px;
}

.robot {
    width: 180px;
    left: 50%;
    transform: translateX(-50%) translateY(-75%)
}

footer {
    background-image: url('../img/footer.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
    width: 100%;
}

footer .logo {
    padding-top: 5px;
}

footer .footer-content {
    margin-top: 24%;
}

footer .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

footer .copyright {
    padding-bottom: 40px;
    border-top: 1px solid #efefef;
}
