@font-face {
 font-family: hanzel;
 src:url('../fonts/Hanzel.ttf') format('truetype');
 font-weight:normal;
 font-style:normal;
}

body {
    margin: 0;
    font-family: sans-serif;
}
.text-center {
    text-align: center;
}

p {
    line-height: 150%;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

img {
    width: 100%;
}

.p-0 {
    padding: 0;
}

.p-6 {
    padding: 0 60px;
}

.pt-6 {
    padding-top: 60px;
}

.mr-20 {
    margin-right: 20px;
}

.title {
    font-size: 50px;
    font-family: hanzel;
    font-weight: 100;
}

.menu {
    list-style: none;
}

.menu a {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
}

header {
    padding: 20px;
    background: linear-gradient(90deg, #00092B 0%, #4A289C 51.56%, #00092B 100%);
}

.border-right {
    border-right: 1px solid #efefef;
}

.btn {
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 40px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.btn-orange {
    background: linear-gradient(180deg, #FFC954 0%, #FF9348 100%);
}

.btn-blue {
    background: linear-gradient(180deg, #33D2FF 0%, #35A5FF 91.77%);

}

.banner {
    padding: 20px 0;
    background-image: url(../img/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .col-7 {
    height: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.banner h2 {
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.loiich {
    padding: 60px 0;
}

.loiich .col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
        font-size: 20px;
    line-height: 150%;
}

.loiich .bg {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: linear-gradient(168.26deg, #C57BFF 15.09%, #454BCB 141.04%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loiich img {
    width: 50%;
}

.s-3 .col-6 {
    text-align: center;
}

.s-3 h2 {
    font-size: 40px;
    color: #8162E3;
}

.s-3 p {
    font-size: 40p;
}

.s-3 img {
    width: 500px;
}

.s-3 .btn-group {
margin-top: 30px;
}

.s-4 {
    background-image: url('../img/bg-3.jpg');
    padding: 60px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.s-4 .card {
    width: 510px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.s-4 .card-header {
    font-size: 35px;
    padding: 20px 40px;
    color: #fff;
    text-shadow: 0px 3px 0px rgb(0 0 0 / 25%);
}

.s-4 .card-header p {
    margin: 0;
}

.card-orange {
    background: linear-gradient(180deg, #FFCA54 0%, #FF9047 100%);
}

.card-blue {
    background: linear-gradient(170.09deg, #32D5FF 7.44%, #377CFF 149.59%);
}


.s-4 .title {
    color: #fff;
}

.s-4 .card-header img {
    width: 114px;
    height: 114px;
    border-radius: 50%;
    margin-right: 10px;
}

.s-4 .card-content {
    padding: 20px 40px;
}

.s-4 .card-content p {
    font-size: 24px;
    line-height: 24px;
    list-style-image: url('../img/orange-dot.svg');
}

.s-4 .card-content .dot {
    height: 24px;
    width: 24px;
    display: inline-block;
    border-radius: 5px;
    transform: rotate(45deg);
    margin-right: 10px;
}

.s-4 .card-content .orange-dot {
    background: linear-gradient(87.47deg, #FFF35C -45.76%, #FF795B 155.7%);
}

.s-4 .card-content .blue-dot {
    background: linear-gradient(87.47deg, #33D5FF -45.76%, #1F90E6 155.7%);
}

.s-4 .card-footer {
    text-align: center;
    padding-bottom: 20px;
}

.s-4 img{
    width: 300px;
    top: -80px;
}

.s-4 .card-group {
    width: 100%;
}

.s-5 {
    margin-top: 150px ;
    background-image: url('../img/dienthoai3.svg');
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 800px;
}

.s-5 .title {
    color: #00BAE8;
}

.s-5 .chat-box {
    padding-top: 130px;
}

.s-5 .chat {
    color: #fff;
    font-size: 28px;
    padding: 10px;
    border-radius: 30px 30px 0 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.s-5 .chat:nth-child(1) {
    background: linear-gradient(180deg, #C57CFF 0%, #755DDF 100%);
}

.s-5 .chat:nth-child(1) .chat-number {
    color: #7460A7;
;
}

.s-5 .chat:nth-child(2) {
    background: linear-gradient(180deg, #50D7FF 0%, #35A7FF 100%);
}

.s-5 .chat:nth-child(2) .chat-number {
    color: #00BAE8;
}

.s-5 .chat:nth-child(3) {
    background: linear-gradient(180deg, #FFCA54 0%, #FF9047 100%);
}

.s-5 .chat:nth-child(3) .chat-number {
    color: #FF7502;
}

.s-5 .chat-right:nth-child(1) {
    background: linear-gradient(180deg, #FE966A 0%, #FD4BA8 100%);
}

.s-5 .chat-right:nth-child(1) .chat-number {
    color: #F22E6C;
}

.s-5 .chat-right:nth-child(2) {
    background: linear-gradient(180deg, #62FFB4 0%, #15C988 100%);
}

.s-5 .chat-right:nth-child(2) .chat-number {
    color: #0FB578;
}

.chat-right {
    border-radius: 30px 30px 30px 0 !important;
}

.chat-content {
    width: calc(100% - 95px);
}

.chat-number {
    background-color: #fff;
    width: 95px;
    height: 95px;
    font-size: 80px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}

.s-5 .btn-group{
    margin-top: 150px;
}

.kid-feedback .feeback {
    color: #fff;
}

.kid-feedback .title{
    color: #F22E6C;
    text-align: center;
}

.kid-feedback .row:nth-child(1) {
    background: linear-gradient(180deg, #FE966A 0%, #FD4BA8 100%);
}

.feedback-title img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
